@charset "UTF-8";
.stone {color: #ff0000;}
#tree {color: #ff00ff;}
h2.stone {color: #00ff00;}
ul>.stone {color: #00ffff;}
body .wolf {color: #890700;}
h3.nigro, p.soul, p.attack, ul>.dog {color: #f08f89;}
a[view] {color: #0968ff;}
strong:hover {color: ff0000; text-decoration: underline; }


h2 {font-family: "맑은 고딕";}
h2 {font-weight: bolder;, font-weight:lighter; font-weight:bold;}
h2 {text-decoration: overline; text-decoration: underline; text-decoration: line-through;}
span{color:#00ff00;}
div{background-color: #890700;}
h2 {letter-spacing: 30px; word-spacing: 15px;}
h2 {text-align: right; text-align: left; text-align: center;}
h2 {text-indent: 30px; line-height: 30px;}
h2 {list-style-type: none;}
