<!DOCTYPE html>
<html>
    <head lang="ko">
        <meta charset="UTF-8">
        <title>이선흠의 홈페이지 입니다</title>
        <link rel="stylesheet" href="../asset/css/mysite.css">
        <link rel="stylesheet" href="../asset/css/bWrite.css">

    </head>
</html>
<body>
    <div id="wrap">
        <div id="header" class="clearfix">               
            <h1><a href="">MySite</a></h1>    
            <ul class="clearfix">
                <li><a href="">로그인</a></li>
                <li><a href="">회원가입</a></li>
            </ul>
        </div>

        <div id="nav">
            <ul class="clearfix">
                <li>입사지원서</li>
                <li>게시판</li>
                <li>갤러리</li>
                <li>방명록</li>
            </ul>
        </div>

        <!-- 컨텐츠 -->
        <div id="contents2" class="clearfix">
            <div id="aside">
                <h2>게시판</h2>
                <ul>
                    <li><a href="">일반 게시판</a></li>
                    <li><a href="">댓글 게시판</a></li>
                    <li><a href="">첨부 게시판</a></li>
                </ul>

            </div>



        
            <div id="main">
            

                <div id="main-header" class="clearfix">
                    <h3>일반게시판</h3>
                    <ul class="clearfix">
                        <li>홈</li>
                        <li>게시판</li>
                        <li class="last">일반게시판</li>
                    </ul>                                
                </div>
            
                <div class=loginbox>
                    <div class="loginmap loginup">
                        <label for="logintext">아이디</label>
                        <input type="text" id="logintext" name="user-idwrite" value="" placeholder="아이디를 입력하세요">
                    </div>
                    <div class="loginmap"> 
                        <label for="passwordtext">비밀번호</label>
                        <input type="password" id="passwordtext" name="user-passwrite" value="" placeholder="비밀번호를 입력하세요">
                    </div>
                    <button type="submit">로그인</button>
                </div>
            
        
            </div>    
            
        
        </div>            
            <div id="footer">
                Coptright (c) 2021 이선흠. all right reserved
            </div>
    </div>
</body>